/* 禁止拖动分隔符 */
.horizontal-no-drag .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: #cccccc; /* 设置可见颜色 */
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-cursor: default; /* 鼠标悬停时显示默认箭头 */
    -fx-pref-width: 2px; /* 分隔条宽度 */
}

.fold-button {
    -fx-graphic: url("../images/fold-icon.png");
    -fx-background-color: transparent;
    -fx-opacity: 1;

}

/* 带阴影的高级边框 */
.square-image-border-shadow {
    -fx-background-radius: 8px;
    -fx-background-color: transparent;
    -fx-padding: 6px;

    -fx-border-image-source: url('../images/evie-border.png');
    -fx-border-image-slice: 12 12 12 12 fill;
    -fx-border-image-width: 6px;
    -fx-border-image-repeat: stretch;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 2); /* 阴影效果 */
}
